*{
    box-sizing: border-box;
}
body{
    max-width: 1000px;
    margin:auto;
    font-family: 'Montserrat', sans-serif; 
    padding: 30px;    
}

.cv header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;   
}

.cv  ul{
    display: flex;
    list-style: none;
    column-gap: 15px;
} 

.cv #logoneg{
    margin-left: -40px;

}
.cv nav a{    
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.cv nav a:hover{
    color: purple;
    font-weight: bold;
    }

.cv a{
    text-decoration: none;
}

.cv p{
    text-align:justify;
}

.cv h1{
    color: #d05270;
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 40px;
}

.cv h2{
    color: #3a0ca3;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
}

.cv h3{
    color: #3a0ca3;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
}

.cv figure{
    
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    margin-left: 0px;
}

.cv .photo{
    width: 100%;
}

.cv section{
    align-content: center;
    padding-bottom: 40px;
}

.cv #imgillustration{
    width: 350px;
}

.cv .conteneur1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-between;
}

.cv .conteneur1 h1{
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    margin-top:50px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.cv .conteneur1 h2{
    line-height: 0px;
    font-size: 35px;
    margin-bottom: 45px;
}

.cv .conteneur1 p{
    margin: 0px;
    padding-bottom: 70px;
    padding-top: 0px;
}

.cv .h22{
    color: #d05270;
    font-weight: bold;
    padding-bottom: 0px;
}

.cv .sousconteneur1{
    min-width: 400px;
    max-width: 500px;
}

.cv p.p {
    font-size: 14px;
    padding: 0px;
}

.cv .link{
    padding-top: 0px;
    margin-bottom: 60px;
    display: flex;
    color: white;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
 }
    
    
    
.cv .logotext{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.cv .logotaille{
    width: 30PX;
    object-fit: cover;
}     

.cv .twitter{
    border: 4px;
    padding: 10px;
    column-gap: 10px;
    background-color:#55acee;
    color: white;
    width: 150px;
    padding-right: 35px;
    border: 1px solid white;
}
    
.cv .linkedin{
    background-color: #0077b5;
    color: white;
    border:4px;
    padding: 10px;
    column-gap: 10px;
    width: 150px;
    padding-right: 35px;    
    border: 1px solid white;   
}

.cv .medium{
    background-color: black;
    color: white;
    border: 4px;
    padding: 10px;
    column-gap: 10px;
    width: 150px;
    padding-right: 35px;    
    border: 1px solid white;
}

.cv .twitter:hover{
    border: 4px;
    padding: 10px;
    column-gap: 10px;
    background-color:white;
    color: #55acee;
    width: 150px;
    padding-right: 35px;
    border: 1px solid #55acee;
}
    
.cv .linkedin:hover{
    background-color: white;
    color: #0077b5;
    border:4px;
    padding: 10px;
    column-gap: 10px;
    width: 150px;
    padding-right: 35px;
    border: 1px solid #0077b5;
}
    
.cv .medium:hover{
    background-color: white;
    color: black;
    border: 4px;
    padding: 10px;
    column-gap: 10px;
    width: 150px;
    padding-right: 35px;
    border: 1px solid black;
   
}